<%= form_for [@blog, @review] do |f| %>
  <div class="field">
    <%= f.label :comment, 'Review' %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit class: 'button' %>
  </div>
<% end %>
