
<h1> List of Blogs </h1>



<ul>
  <lu><% @blogs.each do |blog| %></li>
  <lu><%= link_to blog.title, blog_path(blog) %></li>
  <li><% end %></li>
</ul>



<p><%= link_to "Add a Blog", new_blog_path %></p>

