

#content, html#index-box, body#index-box {
    height: 98%;
    background-color: #4C4C5D;
    margin-top: 10px;
}

#left {
    width: 33%;
    background: white;
    height: 100%;
    overflow: scroll;
    background-color: #F5F2F7;
    float: left;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    border: 5px solid gray;
    border-radius: 5px 20px 5px;
    background: #BADA55;
}

#middle {
    width: 33%;
    background: white;
    height: 100%;
    overflow: scroll;
    background-color: #F6FBFF;
    float: left;

}
#right {
    width: 33%;
    background: white;
    height: 100%;
    overflow: scroll;
    float: left;
    background-color: #F6FBFF;
    
}

